.layout{
	margin: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.lateralEsquerda{
	background-color: #203054;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 30%;
	height: 80vh;
	border-radius: 10px 0 0 10px;
}

.corpo{
	background-color: #A9A9A9;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 70%;
	height: 80vh;
	border-radius: 0 10px 10px 0;
}

.logo{
	width: 150px;
	height: 150px;
	border-radius: 10px;
}

.titulo{
	background-color: #203054;
	color:white;
	padding: 20px 30px;
	border-radius: 10px;
}

.link{
	color: white;
	cursor: pointer;
}